.card{
    border: 1px solid var(--tertiary);
    padding: 5px;
    text-align: center;
    height: 105px;
    border-radius: 8px;
}

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.card-header > img {
    width: 70px;
    border-radius: 50%;
}

.card-header > div > img{
    width: 70px;
}
