@import url(./footer.css);
@import url(./header.css);
@import url(./sidebar.css);
@import url(./github_card.css);
@import url(./switch_button.css);

:root {
    --primary: linear-gradient(to right, white, #0D47A1); 
    --secondary: #0D47A1; /* Azul escuro */
    --tertiary: #e64a19; /* Laranja */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.main-github {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
}

.main-content {
    flex: 3;
    min-height: 500px;
    background-color:var(--secondary);
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    max-height: 100vh;
}

.main-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content > div > img {
    width: 100vh;
}

#cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.menuSelect{
    display: flex;
    gap: 10px;
    align-items: center;

    button{
        background-color: var(--tertiary);
        color: white;
        font-weight: bold;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover{
            transform: scale(1.05);
        }
    }
}

select {
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  appearance: none; /* Remove estilo padrão do sistema */
}

/* Estiliza o menu dropdown */
select option {
  background-color: var(--tertiary);
  color: white;
}

/* Hover dentro da lista de opções (em navegadores que suportam) */
select option:hover {
  background-color: var(--tertiary);
}

.seletor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.aside-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.senai-qrcode > img{
    height: 160px;
}

.senai-qrcode > h3{
    margin-top: 20px;
}